@model List<Devfolio.Models.TblContact>
@{
    ViewBag.Title = "MessageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kontak Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad ve Soyad</th>
        <th>E posta</th>
        <th>Başlık</th>
        <th>Mesaj</th>
        <th>Durumu</th>
        <th>Gönderim Tarihi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.Message</td>
            <td>@item.IsRead</td>
            <td>@item.SendMessageDate</td>
            <td><a href="/Message/DeleteMessage/@item.ContactID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Message/UpdateMessage/@item.ContactID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<td><a href="/Message/CreateMessage/" class="btn btn-info">Yeni Mesaj Ekle</a></td>