@model Devfolio.Models.TblContact
@{
    ViewBag.Title = "UpdateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Mesaj Güncelleme Sayfası</h2>

<form method="post">
    <label>Id</label>
    <input type="text" class="form-control" name="ContactID" value="@Model.ContactID"/>
    <label>Ad ve Soyad</label>
    <input type="text" class="form-control" name="NameSurname" value="@Model.NameSurname"/>
    <br />
    <label>E posta</label>
    <input type="text" class="form-control" name="Email" value="@Model.Email"/>
    <br />
    <label>Başlık</label>
    <input type="text" class="form-control" name="Subject" value="@Model.Subject"/>
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" name="Message" value="@Model.Message"/>
    <br />
    <label>Durumu</label>
    <input type="text" class="form-control" name="IsRead" value="@Model.IsRead"/>
    <br />
    <label>Gönderim Tarihi</label>
    <input type="text" class="form-control" name="SendMessageDate" value="@Model.SendMessageDate"/>
    <br />
    <button class="btn btn-info">Mesajı Güncelle</button>

</form>