@model List<Devfolio.Models.TblAddress>
@{
    ViewBag.Title = "AddressList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İletişim Bilgileri</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adress Tanımı</th>
        <th>Lokasyon</th>
        <th>Telefon No</th>
        <th>E-Posta</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AddressID</td>
            <td>@item.Description</td>
            <td>@item.Location</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Email</td>
            <td><a href="/Address/DeleteAddress/@item.AddressID" class="btn btn-danger">Sil</a></td>    
            <td><a href="/Address/UpdateAddress/@item.AddressID" class="btn btn-success">Güncelle</a></td>
        </tr>
            
    }
   
</table>
<td><a href="/Address/CreateAddress/" class="btn btn-info">Yeni Adres Ekle</a></td>


